*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  background: #f5f5f5;
  font-family: 'Montserrat', sans-serif !important;
}

.header {
  border: 1px solid #707070;
}

.header__nav {
  
}

.header__logo-box {
  background: #212322;
  width: 30%;
  height: 7rem;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vmin;
}

.header__nav-item {
  border-right: 2px solid #e5e5e5;
  height: 100%;
  color: #494949;
  text-decoration: none;
  padding: 22px 44px;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #fe5a50 !important;
}

.header__user-section {
  
}

.header__user-item {
  
}

.header-btn:link,
.header-btn:visited {
  color: #494949;
  text-decoration: none;
  padding: 14px 73px 14px 74px;
  font-size: 1.2rem;
  font-weight: 600;
}

.header__user-btn--sign-in:link,
.header__user-btn--sign-in:visited {
  color: #494949;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.user-btn--sign-up:link,
.user-btn--sign-up:visited {
  color: #fe5a50;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 55px;
}

.heading {
  margin-top: 70px;
}

.heading__primary {
  font-size: 45px;
  font-weight: 600;
  line-height: 46px;
}

.heading__text-block {
  text-align: center;
  margin-top: 14px;
}

.heading__text {
  line-height: 1.36;
  text-align: center;
  font-size: 20px;
  color: #585b60;
}

.get-started-form {
  text-align: center;
  margin-top: 14.37px;
}
/* .get-started-btn {
  background-color: #fff;
  color: #777;
} */


.get-started__input {
  height: 38.4px !important;
  width: 170px !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #C2C9DB !important;
  border-radius: 8px 0 0 8px !important;

  background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 35px 55px #0000000F !important;
border: 1px solid #E5E5E5 !important;
}
.get-started__input::placeholder{
  color: #C2C9DB !important;
}
.get-started__btn {
  background-color: #fe5a50 !important;
  color: #fff !important;
  border-radius: 0 8px 8px 0 !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  border: none !important;
  background: #FE5A50 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 8px 25px #FE5A506B !important;
  width: 140px !important;

  /* text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 4rem;
  display: inline-block;
 
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  box-shadow: 0px 8px 25px #fe5a506b;
  
   */
}

/* .get-started__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #fe5a50 !important;
}

.get-started__btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #fe5a50;
} */

/* .get-started__btn {
  background-color: #fe5a50;
  color: #fff;
  box-shadow: 0 0.5rem 1rem #ffd6d3;
} */

/* input[type='text'] {
  border: 1px solid #cccccc;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -khtml-border-radius: 8px 0 0 8px;
  background: #ffffff !important;
  outline: none;
  height: 64px;
  width: 282px;
  color: #cccccc;
  font-size: 18px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

input[type='text']:focus {
  padding-left: 15px;
}

input[type='text']::placeholder {
  padding-left: 15px;
} */

.information-block-1 {
  /* display: flex;
  justify-content: center; */
  margin-top: 91.6px;
  margin-left: auto;
  margin-right: auto;
}

.top-image {
  width: 650px;
}

.browser-image {
  width: 650px;
}

.information-block-1__list {
  margin-left: 104px;
}

.information-block-1__header {
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 30px;
}

.information-block-1__list-item {
  margin-left: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.information-block-1__list-item-text {
  font-size: 15px;
  padding-left: 22px;
}

.information-block-1__list-item--dashboard {
  font-weight: 600;
  margin-bottom: 17px;
  font-size: 24px;
  color: #fe5a50;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.dashboard-btn-block {
  margin-left: 83.4px;
}

.dashboard-btn:link,
.dashboard-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9rem 2rem;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  font-size: 14px;
  background-color: #fe5a50;
  color: #fff;
}

.dashboard-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.dashboard-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.benefits-block {
  margin: 105.5px auto 0;
}
.benefits-block__heading {
  text-align: center;
  font-size: 68px;
  font-weight: 600;
}

.benefits-block__text {
  text-align: center; 
  font-size: 20px; 
  color: #585B60;
  line-height: 36px;
}
.benefits-block__cards {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 116.37px;
}

.benefits-block__cards-item {
  margin-top: 61px;
  height: 402px;
  width: 449px;
  box-shadow: 0 45px 165px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 22px;
  margin-right: 104px;
}

.benefits-block__icon {
  background-color: #fe5a50;
  border-radius: 25px;
  width: 125px;
  height: 125px;
  position: absolute;
  top: -61px;
  left: 48px;
}

.benefits-block__icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-block {
  margin-bottom: 103px;
  background-color: #ffffff;
}

.cards-block-text-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-left: 47px;
  border-radius: 22px;
}

.cards-block-text-box-header {
  font-size: 25.59px;
  font-weight: 600;
  margin-top: 124px;
}

.cards-block-text-box__text {
  font-size: 19.9px;
  margin-top: 26.2px; 
  line-height: 36.42px; 
  letter-spacing: 1px;
  flex-grow: 1;
}

/* .cards-block-text-box__link { 
  color: #FE5A50; 
  font-weight: 600;
  font-size: 19.5px;
  margin-bottom: 41px;
} */

.cards-block-text-box__link-content:link,
.cards-block-text-box__link-content:visited {
  text-decoration: none;
  color: #FE5A50; 
  font-weight: 600;
  font-size: 19.5px;
  margin-bottom: 41px;
}

.image-block {
  background-image: url(./img/Mountains.jpg);
  background-size: cover;
  background-position: top;
  height: 468px;
  background-color: #212322;
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}

.image-block__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-block__text {
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  width: 941.72px;
}

.image-block__author {
  color: #fff;
  font-size: 18px;
  line-height: 21, 6px;
  text-align: center;
  padding-top: 22px;
}

.dots-block {
  display: flex;
  justify-content: center;
  padding-top: 77px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
  margin-right: 17.3px;
}

.dot-not-active {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
  opacity: 40%;
  margin-right: 17.3px;
}
/*-----------------------------------------------------------*/
.safe-data-block {
  display: flex;
  margin-top: 91.6px; 
  margin-left: auto; 
  margin-right: auto;
  max-width: 1420px
}

.icons-list-block {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.icons-list-block-item {
  margin-bottom: 81.4px;
  flex-basis: 20%;
}

.icons-list-block-item-header {
  font-size: 25.59px;
  font-weight: 600;
  margin-bottom: 11.2px;
  color: #585b60;
}

.icons-list-block-item-text {
  font-size: 19.9px;
  line-height: 30px;
  color: #9da6ac;
  margin-left: 3px;
  width: 360.65px;
}

.big-icon--black {
  background-color: #212322;
  border-radius: 25px;
  width: 125px;
  height: 125px;
  position: relative;
  margin-right: 60.7px;
}

.big-icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-list-block-item {
  display: flex;
}

.company-data-block {
  margin-left: 82.7px;
}

.company-data-block-haeder {
  font-size: 68px;
  font-weight: 600;
}

.company-data-block-text {
  width: 607px;
  font-size: 20px;
  line-height: 30px;
  color: #9da6ac;
}

.sign-up-block {
  display: flex;
  /* justify-content: center;
    align-items: center; */

  margin: 0 auto 0;
  width: 1555px;
}

.sign-up-block-content {
  width: 1555px;
  height: 400px;
  background-color: #fe5a50;
  border-radius: 22px;
  position: relative;
}

.sign-up-block-header {
  font-size: 47.94px;
  font-weight: 600;
  line-height: 48.43px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  margin-top: 71.4px;
}

.sign-up-block-text {
  font-size: 19.98px;
  color: #fff;
  width: 789.22px;
  line-height: 31.33px;
  letter-spacing: 0.9px;
  margin-top: 16.1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-block {
  text-align: center;
  padding-top: 33px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  box-shadow: 0 20px 30px rgba(254, 90, 80, 0.42);
  padding: 16px 62px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white-safe {
  background-color: #f1f1f1;
  color: #585b60;
  font-size: 14px;
  font-weight: 800;
  box-shadow: 0 0.5rem 1rem #ffd6d3;
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 96px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  width: 1604px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50.6px;
  border-bottom: 1px solid #e5e5e5;
}

.footer-content-item {
  font-size: 18px;
  margin: 7px 0;
  color: #9da6ac;
}

.footer-content-item-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 11.8px;
  color: #585b60;
}

li {
  list-style-type: none;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 42.5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 31.8px;
  color: #9da6ac;
}

.lang-select {
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: #585b60;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url('/img/select_arrow.png') no-repeat right center;
  outline: 0;
  width: 90px;
}
