body {
  font-family: "Montserrat", sans-serif !important; }

.heading-primary {
  font-size: 3.49vw;
  font-weight: 600;
  line-height: 46px; }

.sub-heading-primary {
  font-size: 1.03vw;
  font-weight: 600;
  color: #585B60; }

.text {
  font-size: 1.03vw;
  color: #585b60; }

.header {
  border: 1px solid #707070; }
  .header__logo-box {
    background: #212322;
    width: 24.3vw;
    height: 7rem;
    position: relative; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11.5vw; }
  .header__nav-item {
    border-right: 2px solid #e5e5e5;
    height: 100%;
    color: #494949;
    text-decoration: none;
    padding: 22px 44px;
    font-size: 1.4rem;
    font-weight: 600; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #fe5a50 !important; }

.header-btn:link,
.header-btn:visited {
  color: #494949;
  text-decoration: none;
  padding: 14px 73px 14px 74px;
  font-size: 1.4rem;
  font-weight: 600; }

.header__user-btn--sign-in:link,
.header__user-btn--sign-in:visited {
  color: #494949;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600; }

.user-btn--sign-up:link,
.user-btn--sign-up:visited {
  color: #fe5a50;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 2.1vw !important;
  padding-right: 3.4vw !important; }

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 96px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  width: 83.5vw; }

.footer-content {
  margin-top: 50.6px;
  border-bottom: 1px solid #e5e5e5; }

.footer-content-item {
  font-size: 0.94vw;
  margin: 7px 0;
  color: #9da6ac; }

.footer-content-item-header {
  font-size: 1.25vw;
  font-weight: 600;
  margin-bottom: 12px;
  color: #585b60; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

.footer-footer {
  margin-top: 42.5px;
  font-size: 0.94vw;
  font-weight: 600;
  line-height: 31.8px;
  color: #9da6ac; }

.lang-select {
  border: none;
  font-size: 0.94vw;
  font-weight: 800;
  color: #585b60;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("./img/select_arrow.png") no-repeat right center;
  outline: 0;
  width: 90px; }

.icon {
  background-color: #fe5a50;
  border-radius: 15px;
  width: 6.5vw;
  height: 6.5vw;
  box-shadow: 0px 8px 25px #FE5A506B; }
  .icon__image {
    width: 3.4vw;
    height: 3.4vw; }

.black-icon {
  background-color: #212322;
  border-radius: 15px;
  width: 6.5vw;
  height: 6.5vw;
  box-shadow: 0px 8px 25px #21232266; }
  .black-icon__image {
    width: 3.4vw;
    height: 3.4vw; }

.get-started-form {
  text-align: center;
  margin-top: 1.5rem; }

.get-started__input {
  height: 6.5vh !important;
  width: 14.3vw !important;
  font-size: 1vw !important;
  font-weight: 600 !important;
  color: #c2c9db !important;
  border-radius: 8px 0 0 8px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 35px 55px #0000000f !important;
  border: 1px solid #e5e5e5 !important; }

.get-started__input::placeholder {
  color: #c2c9db !important; }

.get-started__btn {
  background-color: #fe5a50 !important;
  color: #fff !important;
  border-radius: 0 8px 8px 0 !important;
  font-size: 1vw !important;
  font-weight: 600 !important;
  border: none !important;
  background: #fe5a50 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 8px 25px #fe5a506b !important;
  width: 11.9vw !important;
  height: 6.5vh; }

html {
  /* font-size: 10px; */
  font-size: 62.5%; }

body {
  background: #f5f5f5; }

.heading {
  margin-top: 7rem; }

.heading__primary {
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 46px; }

.heading__text-block {
  margin-top: 14px;
  text-align: center; }

.information-block-1 {
  /* display: flex;
  justify-content: center; */
  margin-top: 91.6px;
  margin-left: auto;
  margin-right: auto;
  width: 87vw; }

.top-image {
  width: 50vw; }

.browser-image {
  width: 50vw; }

.information-block-1__list {
  margin-left: 5.4vw; }

.information-block-1__header {
  font-size: 2.5vw;
  font-weight: 600;
  margin-bottom: 30px; }

.information-block-1__list-item {
  margin-left: 2.08vw;
  display: flex;
  align-items: center;
  margin-bottom: 49px; }

.information-block-1__list-item-text {
  font-size: 15px;
  padding-left: 22px; }

.information-block-1__list-item--dashboard {
  font-weight: 600;
  margin-left: 2.08vw;
  margin-bottom: 17px;
  font-size: 24px;
  color: #fe5a50; }

.dashboard-btn-block {
  margin-left: 3.49vw; }

.dashboard-btn:link,
.dashboard-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 30px 5px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  position: relative;
  font-size: 0.6vw;
  background-color: #fe5a50;
  color: #fff; }

.dashboard-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.dashboard-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.benefits-block {
  width: 80.1vw;
  margin: 105.5px auto 0; }

.benefits-block__heading {
  text-align: center;
  font-size: 68px;
  font-weight: 600; }

.benefits-block__cards {
  margin-top: 116.37px; }

.benefits-block__cards-item {
  margin-top: 61px;
  height: 40vh;
  width: 23.4vw;
  box-shadow: 0px 45px 165px #00000026;
  position: relative;
  border-radius: 22px;
  margin-right: 5.4vw;
  padding-left: 2.5vw; }

.benefits-block__icon-position {
  position: absolute;
  top: -6vh;
  left: 2.5vw; }

.cards-block-text-box__link-content:link,
.cards-block-text-box__link-content:visited {
  text-decoration: none;
  color: #fe5a50;
  font-weight: 600;
  font-size: 1.01vw;
  margin-bottom: 3.8vh;
  padding-right: 1vw; }

.image-block {
  background-image: url("../img/Mountains.png");
  background-size: cover;
  background-position: top;
  height: 43.3vh;
  width: 100%;
  background-color: #212322;
  margin-top: 103px; }

.image-block__main {
  height: 100%; }

.image-block__text {
  color: #fff;
  font-size: 1.15vw;
  line-height: 32px;
  width: 49vw; }

.image-block__author {
  color: #fff;
  font-size: 0.9vw;
  line-height: 21, 6px;
  text-align: center;
  padding-top: 22px; }

.dots-block {
  padding-top: 7vh; }

.dot {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #fff;
  margin-right: 17.3px; }

.dot-not-active {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #fff;
  opacity: 40%;
  margin-right: 17.3px; }

/*-----------------------------------------------------------*/
.safe-data-block {
  margin-top: 91.6px;
  margin-left: auto;
  margin-right: auto;
  width: 74vw; }

.icons-list-block-item {
  margin-bottom: 81.4px; }

.black-icon1 {
  display: inline-block; }

.describe-position {
  margin-left: 3.2vw; }

.icons-list-block-item-text {
  font-size: 19.9px;
  line-height: 30px;
  color: #9da6ac;
  margin-left: 3px;
  width: 360.65px; }

.icons-list-block-item {
  width: 28.6vw; }

.company-data-block {
  margin-left: 4.3vw;
  margin-top: 3.5vh; }

.company-data-block-haeder {
  line-height: 7vh; }

.company-data-block-text {
  margin-top: 50px;
  width: 607px;
  line-height: 3vh;
  color: #9da6ac; }

.sign-up-block {
  margin: 0 auto 0;
  width: 81vw; }

.sign-up-block-content {
  width: 81vw;
  height: 37vh;
  background-color: #fe5a50;
  border-radius: 22px;
  position: relative; }

.sign-up-block-header {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 4.8vh;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  margin-top: 7vh; }

.sign-up-block-text {
  font-size: 1.04vw;
  color: #fff;
  width: 41vw;
  line-height: 31.33px;
  letter-spacing: 0.9px;
  margin-top: 16.1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.btn-block {
  text-align: center; }

.btn-white-safe {
  background-color: #f1f1f1;
  text-transform: uppercase;
  border-radius: 10px !important;
  padding: 1.6vh 3.1vw !important;
  color: #585b60;
  font-size: 14px;
  font-weight: 800;
  box-shadow: 0 0.5rem 1rem #ffd6d3; }
