$max-screen-width: 1920px;
.footer {
    max-width: $max-screen-width;
    margin-top: 1%;
    //   margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    // width: 80%;
    // width: 83.5vw;
    //   margin: 2.5% 5%;
}

.footer-content {
    border-top: 1px solid #e5e5e5;
    // margin-top: 50.6px;
    border-bottom: 1px solid #e5e5e5;
}

.footer-content-item {
    margin: 7px 0;
    color: #9da6ac;
    font-size: 1.4rem;
    @media (max-width: 992px) {
        font-size: 1rem;
    }
}

.footer-content-item-header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: #585b60;
    @media (max-width: 992px) {
        font-size: 1.4rem;
    }
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    a {
        text-decoration: none;
        color: #9da6ac;
    }
}

.footer-footer {
    margin-top: 42.5px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 31.8px;
    color: #9da6ac;
}

.lang-img {
    padding-right: 5px;
}

.lang-select {
    border: none;
    font-size: 1.4rem;
    font-weight: 800;
    color: #585b60;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: url('./img/select_arrow.png') no-repeat right center;
    outline: 0;
    width: 90px;
}

.footer-nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}