body {
    font-family: "Montserrat", sans-serif !important;
}

.heading-primary {
    font-size: 3.49vw;
    font-weight: 600;
    line-height: 46px;
}

.sub-heading-primary {
    font-size: 1.03vw;
    font-weight: 600;
    color: #585B60;
}

.text {
    font-size: 1.03vw;
    color: #585b60;
}