.heading-primary {
  font-size: 3vw;
  font-weight: 600;
  line-height: 46px;
}

.sub-heading-primary {
  font-size: 1.5vw;
  font-weight: 600;
}

.text {
  line-height: 1.36;
  font-size: 0.9vw;
  color: #585b60;
}



